html[data-theme="light"] {
  --background-color: white;
  --text-color: #808080;
  --link-color: #bb2e1f;
  --inactive-navbar-link: black;
  --active-navbar-link: var(--link-color);
}

html[data-theme="dark"] {
  --background-color: #1c2022;
  --text-color: #808080;
  --link-color: #bb2e1f;
  --inactive-navbar-link: #cbcbcb;
  --active-navbar-link: var(--link-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
}

#app {
  max-width: 720px;
  margin: 80px auto;
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  margin: 20px 0;
  padding: 0;
  gap: 20px;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--inactive-navbar-link);
  font-weight: bold;
}

nav a.navlink-active {
  color: var(--active-navbar-link);
}
